
body{
    position: absolute;
    background-color: black;
    padding: 0px;
    margin: 0px;
    height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0px;
    background-color: black ;
    width: 100%;
    height: auto;
}

main{
    flex-direction: column;
    position: relative;
    display: flex;
    background-color: black;
    width: 100%;
    height: auto;
}

footer{
    display: flex;
    position: relative;
    border: 1px rgb(9, 78, 12) solid;
    height: 100px;
    
}

.logo{
   margin: 8px;
}

.icons{
    gap: 12px;
    padding: 8px;
    display: flex;
    align-content: flex-end;
}

.preset{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-image: url('./assets/preview.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 390px;
    height: 600px;
}

.tv{
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.categories{
    position: relative;
    gap: 1px;
    display: flex;
    align-content: center;
}

.atributes{
    position: relative;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 20%;
}

.exc{
    align-items: center;
    gap: 8px;
    position: relative;
    display: flex;
    height: 20%;
}
.play{
    align-items: center;
    position: relative;
    justify-content: space-around;
    position: relative;
    display: flex;
    height: 80%;
    width: 100%;
}

.list{
    font-size: 16px;
    gap: 4px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    gap: 4px;
    font-size: 16px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    justify-content: space-around;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    width: 80px;
}

.iconInfo{
    width: 24px;
}

.carouselWrap{
    column-gap: 8px;
    color: white;
    flex-direction: column;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    
}
.carrousel{
    overflow: auto;
    flex-direction: row;
    position: relative;
    display: flex;
    height: 100%;
    width: 100vw;
    gap: 12px;
}

.movies{
    padding: 0%;
    margin: 0%;
    width:"106";
    height:"152px";
    position: relative;
    display: flex;
 }

 .playIcon{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
 }